@import './vars.less';

.cities-analytics {
  margin-top: 3%;

  .block {
	padding: 30px 50px;
	margin-bottom: 20px;
	background-color: @block-bg-color;
	border-radius: @base-border-radius;

	h3 {
	  color: @dark-gray;
	}
  }
}