@import './vars.less';

.city-autocomplete {
  height: 150px;
  position: relative;
  z-index: 1;

  h3 {
	color: @dark-gray;
  }

  .autocomplete-container {
	.autocomplete-input {
	  width: 100%;
	  border: 1px solid @light-gray;
	}

	.autocomplete-results {
	  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	  border-radius: @base-border-radius;

	  li:first-child {
		border-top-left-radius: @base-border-radius;
		border-top-right-radius: @base-border-radius;
	  }

	  li:last-child {
		border-bottom-left-radius: @base-border-radius;
		border-bottom-right-radius: @base-border-radius;
	  }
	}
  }
}