@import "./vars.less";

.footer {
  width: 200px;
  text-align: center;
  font-size: 10pt;
  background-color: @block-bg-color;
  color: @light-gray;
  border-radius: 20px;
  padding: 10px 5px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 100px);
}