html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(120deg,rgb(133, 250, 176) 0,rgb(144, 211, 244) 100%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div#app {
  min-height: 100%;
  padding-bottom: 100px;
  position: relative;
}