@font-size: 17pt;
@light-gray: #d3d3d3;
@spinner-size: 60px;

.autocomplete-container {
  position: relative;

  .autocomplete-input {
	color: #5b5b5b;
	height: 40px;
	padding: 10px @spinner-size 10px 30px;
	border-radius: 10px;
	border: none;
	font-size: @font-size;

	&::placeholder {
	  color: @light-gray;
	}
  }

  .autocomplete-spinner {
	width: @spinner-size;
	height: @spinner-size;
	position: absolute;
	right: 0;
	top: 0;

	&.hidden {
	  display: none;
	}
  }

  ul.autocomplete-results {
	list-style: none;
	margin-top: 5px;
	padding: 0;
	font-size: @font-size - 2pt;
	background-color: #fff;

	&:empty {
	  display: none;
	}

	li.autocomplete-result-row  {
	  @padding-left: 30px;
	  @padding-vertical: 10px;
	  @border-left-width: 5px;

	  padding: @padding-vertical 0 @padding-vertical @padding-left;
	  cursor: pointer;
	  border-bottom: 1px solid @light-gray;

	  &:hover, &.active {
		border-left: @border-left-width solid #51A0D5;
		padding-left: @padding-left - @border-left-width;
		background-color: rgba(120, 197, 239, 0.2);
	  }

	  &:last-of-type {
		border-bottom-width: 0;
	  }
	}
  }
}
